package main

import (
    "github.com/alacrity-engine/core/engine"
    {{ range $import, $_ := .pkgImports }}
    {{- $import }}
    {{ end }}
)

var componentTypeRegistry = map[string]engine.ComponentTypeEntry{
{{ range $compType := .compTypes }}
    "{{ pkgPathSlug $compType.PkgPath }}__{{ $compType.Name }}": {
        Name: "{{ $compType.Name }}",
        PkgPath: "{{ $compType.PkgPath }}",
        Constructor: {{ pkgPathBase $compType.PkgPath }}.PUBLIC___{{ pkgPathSlug $compType.PkgPath }}__{{ $compType.Name }}___Create,
        Fields: map[string]engine.ComponentTypeFieldEntry{
        {{ range $compField := $compType.Fields }}
            "{{ $compField.Name }}": {
                Name: "{{ $compField.Name }}",
                Type: "{{ $compField.Type }}",
                Getter: {{ pkgPathBase $compType.PkgPath }}.PUBLIC___{{ pkgPathSlug $compType.PkgPath }}__{{ $compType.Name }}___Get{{ $compField.Name }},
                Setter: {{ pkgPathBase $compType.PkgPath }}.PUBLIC___{{ pkgPathSlug $compType.PkgPath }}__{{ $compType.Name }}___Set{{ $compField.Name }},
            },
        {{ end }}
        },
    },
{{ end }}
}

func handleError(err error) {
	if err != nil {
		panic(err)
	}
}